[project]
name = "gmft"
version = "0.1.1"
description = "Lightweight, performant, configurable, deep table extraction"
authors = [
  {name = "conjunct"}
]
license = {text = "MIT License"}
readme = "README.md"
requires-python = ">=3.6"

classifiers = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: MIT License",
]

dependencies = [
  "pypdfium2 >= 4",
  "transformers >= 4.24.0",
  "timm",
  "pillow",
  "pandas",
  "matplotlib",
  
]

[project.urls]
Homepage = "https://github.com/conjuncts/gmft"
Issues = "https://github.com/conjuncts/gmft/issues"

[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core >=3.4,<4"]

[tool.flit.sdist]
include = ["gmft/**/*.py", "README.md", "LICENSE"]
exclude = ["gmft/pdf_bindings/bindings_mu.py", "test/**/*", "docs/**/*", "notebooks/**/*", "samples/**/*", "reading_list.md", "*.zip",
  "*.tsv", "comparison.md", "gmft/formatters/*.py"]
